<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>
		<% preact.title %>
	</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,viewport-fit=cover">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="dark-content">
	<link rel="apple-touch-icon" href="/assets/logo.png" />

	<!-- Facebook -->
	<meta property="og:title" content="Ordle" />
	<meta property="og:description" content="Gjett ordet!" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://ordle.github.io/" />
	<meta property="og:image" content="<%= htmlWebpackPlugin.options.CLI_DATA.preRenderData.ogImage %>" />
	<!-- Twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="Ordle">
	<meta name="twitter:description" content="Gjett ordet!">
	<meta name="twitter:image" content="<%= htmlWebpackPlugin.options.CLI_DATA.preRenderData.twitterImage %>" />
	<% preact.headEnd %>
</head>

<body>
	<% preact.bodyEnd %>
</body>

</html>